@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.minha-Imagem {
  width: 300px;
  border-radius: 30px;
}
h1 {
  font-size: 3em;
  color: blue;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botaoAtualizar {
    color: white;
  background-color: blue;
  margin: 12px;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  font-size: 1.5em;
}
